<div class="container display-flex justify-content-center">
  <div class="col-md-4 ">
    <!-- User Registration Form -->
    <h2>User Update</h2>
    <form [formGroup]="editForm" (submit)="editUser()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name"  >
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password"  >
      </div>
      <div class="form-group">
        <label for="isAdmin">Role</label>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="isAdmin" formControlName="isAdmin">
          <label class="custom-control-label" for="isAdmin">Admin</label>
        </div>
      </div>
      <div [formGroup]="leaveAssign">
        <div class="form-group" >
          <label for="leaveType">Leave Type</label>
          <select class="form-control" id="leaveType" formControlName="leaveType">
            <option *ngFor="let type of leaveTypes" [value]="type?.id">{{ type?.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="balance">Balance</label>
          <input type="number" class="form-control" id="balance" formControlName="balance">
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</div>