<div class="container d-flex justify-content-center">
    <div class="container my-3">
        <h2 class="text-left">Update leave</h2>
        <div class="col-md-6 my-3">
            <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="leaveType">Leave Type:</label>
                    <select [disabled]="true" class="form-control" id="leaveType" formControlName="leaveType">
                      <option value=1>Casula</option>
                      <option value=2>Maternity</option>
                      <option value=3>Seek</option>
                      <!-- Add more leave types here -->
                    </select>
                  </div>
                <div class="form-group">
                  <label for="startDate">Start Date:</label>
                  <input type="date" class="form-control" id="startDate" formControlName="startDate">
                  <!-- <div *ngIf="leaveForm.get('startDate')?.errors?.['required']" class="text-danger">
                    Start Date is required
                  </div> -->
                </div>
                <div class="form-group">
                  <label for="endDate">End Date:</label>
                  <input type="date" class="form-control" id="endDate" formControlName="endDate">
                  <!-- <div *ngIf="leaveForm.get('endDate')?.errors?.['required']" class="text-danger">
                    End Date is required
                  </div> -->
                  <div *ngIf="leaveForm.get('endDate')?.errors?.['endDateBeforeStartDate']" class="text-danger">
                    End Date must be after Start Date
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              
        </div>
    </div>

   
</div>